body {
    /*background-color: powderblue;*/
    margin: 0;
    font-family: 'Merriweather', serif;
}

h1 {
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Qwigley', cursive;
    font-size: 80px;
        margin-bottom: 0px;
            margin-top: 10px;
            color: #00bcd4;
}

h3 {
    color: #4cd3c2;
}

p {
    font-family: 'Montserrat', sans-serif;
}

hr {
    margin: 12px 0;
    border: 0;
    text-align: center;
}

hr::before {
    content: "\2022 \2022 \2022";
    font-size: 50px;
    color: #4F8BCA;
}

.btn {
    box-shadow:inset 0px 0px 0px 0px #bbdaf7;
    	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    	background-color:#79bbff;
    	border-radius:19px;
    	border:5px solid #84bbf3;
    	display:inline-block;
    	cursor:pointer;
    	color:#ffffff;
    	font-family:Arial;
    	font-size:20px;
    	font-weight:bold;
    	padding:10px 61px;
    	text-decoration:none;
    	text-shadow:0px 0px 0px #528ecc;
}

.btn:hover {
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}

.btn:active {
    position:relative;
	top:1px;
}

.middle-container {
    text-align: center;
    margin-bottom: 80px;

}

.bottom-container {
    text-align: center;
    background-color: #cff1ef;
        height: 200px;

}

.skill-row {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.twitter {

margin-left: 50px;
margin-right: 50px;

}

.c1 {
    background-color: #cff1ef;
    text-align: center;
    height: 600px;
    padding-top: 70px;
}

.c2 {
    position: relative;
    top: 120px;
    font-size: 100px;
    color: #511845;
}

.c3 {
    position: relative;
    top: 60px;
    font-size: 20px;
}

.c4 {
    text-align: left;
    line-height: 2;
}

.c5 {
    margin-left: 500px;
    margin-right: 500px;
    line-height: 2;
    padding-bottom: 50px;
}

.c6 {
    padding-top: 40px;
}

.c7 {
    margin-top: 50px;
    color: #84a9ac;
}

.i1 {
    position: absolute;
    right: 350px;
    top: 50px;
}

.i2 {
    position: relative;
    bottom: 270px;
    left: 80px;
}

.i3 {
    position: relative;
    bottom: 5px;
    right: 50px;
}

.i4 {
    width: 400px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.i5 {
    width: 400px;
    float: right;
    margin-left: 20px;
}

.i6 {
    float: left;
    margin-right: 20px;
}

.i7 {
    margin-top: 60px;
}
